# Node modules
node_modules/
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.beta

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
server.err
server.out

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/
